html {
    font-family: "Verdana";
    background-color: black;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

.link {
    padding: 20px;
}

a { padding: 20px;
    color: aquamarine;
    font-size: 16px;
    }

.video {
    
}

h2 {color: white;
    font-weight: 300;
    font-size: 42px;
    padding: 20px;
}

h3 {
    font-size: 21px;
    color: gray;
    padding: 20px;
}

.phone {
    padding: 20px;
}


.footer (  
    display: flex;
    justify-content: flex-end;
    color: gray;
    font-family: "Verdana";
    background-color: black;
    font-size: 21px;
    padding: 20px;
)